.header-overline {
  font-family: var(--font-stratum);
  font-size: 1rem;
  line-height: 125%;
}

/* News views page */
.node--view-mode-news-teaser {
  max-height: 153px;
  box-sizing: content-box;
}
.node--view-mode-news-teaser::after {
  content : "";
  position: absolute;
  bottom  : 0;
  height  : 1px;
  background: #b7b1af !important;
  width: 75%;
}
.node--view-mode-news-teaser img {
  max-height: 153px;
  object-fit: cover;
}