.header-overline {
  font-family: var(--font-stratum);
  font-size: 1rem;
  line-height: 125%;
}

/* News views page */
.node--type-news.node--view-mode-teaser {
  max-height: 10rem;
  box-sizing: content-box;
}
.node--type-news.node--view-mode-teaser::after {
  content : "";
  position: absolute;
  bottom  : 0;
  height  : 1px;
  background: var(--color-coastline-100) !important;
  width: 50%;
}
.node--type-news.node--view-mode-teaser img {
  max-height: 10rem;
  object-fit: cover;
}
.node--type-news.node--view-mode-featured img {
  max-height: 14.75rem;
  object-fit: cover;
}

/* Directory views page */
.directory-image img {
  max-height: 6em;
  max-width: 6em;
}