:root,
[data-bs-theme=light] {
  --bs-border-color: #{$color-coastline-100};
}

[data-bs-theme=dark] {
  --bs-border-color: #{$color-coastline-100};
}

// Make all the border-* variables responsive
$utilities: map-merge-multiple(
  $utilities,
  (
    "border": map-merge(
      map-get($utilities, "border"),
      ( responsive: true ),
    ),
  ),
  (
    "border-start": map-merge(
      map-get($utilities, "border-start"),
      ( responsive: true ),
    ),
  ),
  (
    "border-end": map-merge(
      map-get($utilities, "border-end"),
      ( responsive: true ),
    ),
  ),
  (
    "border-top": map-merge(
      map-get($utilities, "border-top"),
      ( responsive: true ),
    ),
  ),
  (
    "border-bottom": map-merge(
      map-get($utilities, "border-bottom"),
      ( responsive: true ),
    ),
  ),
);

.w-fit-content {
  width: fit-content !important;
}

.font-open-sans {
  font-family: var(--bs-body-font-family) !important;
}

// Limit text to two lines and end w/ an ellipsis
.clamp-two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.header-overline {
  font-family: $font-stratum;
  font-size: 1rem;
  line-height: 125%;
}
.smaller {
  font-size: 0.75em;
  line-height: 1.4em;
}
.object-fit-cover img {
  object-fit: cover;
}
.image-w-100 img {
  width: 100%;
}
a.arrow-link::before {
  content : "";
  position: absolute;
  bottom  : 0;
  height  : 1px;
  background: $color-coastline-100 !important;
  width: 50%;
}
