@import '../abstracts/_osulp_variables';

[data-bs-theme=dark] {
    --bs-body-font-size: 18px;
    --bs-body-font-weight: 100;
}

[data-bs-theme=light] {
    --bs-body-font-size: 18px;
    --bs-body-font-weight: 100;
}

a.h4 {
    font-weight: bold;
  }
  a.h4:hover,
  a.h4:focus,
  .h4 a:hover,
  .h4 a:focus {
    color: $color-black;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-stratum;
    color: $color-grey-900;
    a {
      text-decoration: none;
    }
  }

h2, .h2{
  font-weight: 400;
}

// icons for link lists
.block-system-main-block ul:not(.nav,
.navbar,
.list-unstyled,
.contextual-links,
.vertical-tabs__menu,
.pager__items,
.select2-selection__rendered) > li:not([style*="list-style: none"])::marker {
  content: unset;
}

.block-system-main-block {
  ul:not(
      .nav,
      .navbar,
      .list-unstyled,
      .contextual-links,
      .vertical-tabs__menu,
      .pager__items,
      .select2-selection__rendered
    )
  > li:not([style*='list-style: none']) {
    &::marker {
      color: $color-beaver-orange;
      content: '\f0a9\2000';
      display: inline-block;
      font-family: 'Font Awesome 6 Free', 'Font Awesome 5 Free';
      font-weight: 900;
      letter-spacing: normal;
    }
  }
}

// home page specific styles
.homepagelink > a {
  color: $color-beaver-dark;
  }
//list-style-type: square; \f0a9


// group home page specific overrides
.osu-text-osuorange > h1 {
  color: $color-beaver-orange;
}