:root,
[data-bs-theme=light] {
  --bs-border-color: #{$color-coastline-100};
}

[data-bs-theme=dark] {
  --bs-border-color: #{$color-coastline-100};
}

@media (max-width: 575.98px) {
  // Borderless for small
  .border-x-sm-0 {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .border-y-sm-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
  .border-end-sm-0 {
    border-right: 0 !important;
  }
  .border-start-sm-0 {
    border-left: 0 !important;
  }
  .border-top-sm-0 {
    border-top: 0 !important;
  }
  .border-bottom-sm-0 {
    border-bottom: 0 !important;
  }
}
@media (max-width: 767.98px) {
  // Borderless for med
  .border-x-md-0 {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .border-y-md-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
  .border-end-md-0 {
    border-right: 0 !important;
  }
  .border-start-md-0 {
    border-left: 0 !important;
  }
  .border-top-md-0 {
    border-top: 0 !important;
  }
  .border-bottom-md-0 {
    border-bottom: 0 !important;
  }
}

.font-open-sans {
  font-family: var(--bs-body-font-family) !important;
}

// Limit text to two lines and end w/ an ellipsis
.clamp-two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.header-overline {
  font-family: $font-stratum;
  font-size: 1rem;
  line-height: 125%;
}
.smaller {
  font-size: 0.75em;
  line-height: 1.4em;
}
.object-fit-cover img {
  object-fit: cover;
}
.image-w-100 img {
  width: 100%;
}
a.arrow-link::before {
  content : "";
  position: absolute;
  bottom  : 0;
  height  : 1px;
  background: $color-coastline-100 !important;
  width: 50%;
}
