$color-beaver-orange: #D73F09;
$color-beaver-dark: #AC3207;
$color-candela: #FDD26E;
$color-candela-dark: #D6B25C;
$color-stratosphere: #006A8E;
$color-coastline-100: #A7ACA2;
$color-coastline-50: #C8CCC7;
$color-coastline-20: #ECEBE9;
$color-grey-900: #221F1E;
$color-grey-800: #423E3C;
$color-grey-700: #555453;
$color-grey-600: #646362;
$color-grey-500: #797877;
$color-grey-400: #979695;
$color-paddletailblack: #212529;
$color-shared: #423E3C;
$color-valley: #7A6855;
$color-guin: #006A8E;
$color-cascades: #0D5257;
$color-neutral: #FDFCFC;
$color-white: #FFFFFF;
$color-black: #423e3c;
$font-stratum: "Stratum2Web", serif;
$font-sans: "Open Sans", sans-serif;

// Map array for color classes
$osulp-all-colors: (
  'beaver-orange': $color-beaver-orange,
  'beaver-dark': $color-beaver-dark,
  'candela': $color-candela,
  'candela-dark': $color-candela-dark,
  'stratosphere': $color-stratosphere,
  'coastline-100': $color-coastline-100,
  'coastline-50': $color-coastline-50,
  'coastline-20': $color-coastline-20,
  'grey-900': $color-grey-900,
  'grey-800': $color-grey-800,
  'grey-700': $color-grey-700,
  'grey-600': $color-grey-600,
  'grey-500': $color-grey-500,
  'grey-400': $color-grey-400,
  'paddletailblack': $color-paddletailblack,
  'neutral': $color-neutral,
  'white': $color-white,
  'black': $color-black,
  'shared': $color-shared,
  'valley': $color-valley,
  'guin': $color-guin,
  'cascades': $color-cascades,
);

@each $name, $color in $osulp-all-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
    --bs-border-color: #{$color} !important;
  }
  .border-#{$name}-left {
    border-left-color: $color !important;
  }
  .border-#{$name}-top {
    border-top-color: $color !important;
  }
  .border-#{$name}-right {
    border-right-color: $color !important;
  }
  .border-#{$name}-bottom {
    border-bottom-color: $color !important;
  }
  .color-#{$name} {
    color: $color !important;
  }
}