$color-beaver-orange: #D73F09;
$color-beaver-dark: #AC3207;
$color-candela: #FDD26E;
$color-coastline-100: #A7ACA2;
$color-coastline-50: #C8CCC7;
$color-coastline-20: #ECEBE9;
$color-grey-900: #221F1E;
$color-grey-800: #423E3C;
$color-grey-700: #555453;
$color-grey-600: #646362;
$color-shared: #423E3C;
$color-valley: #8E9089;
$color-guin: #00859B;
$color-cascades: #0D5257;
$color-white: #FFFFFF;
$color-black: #000000;
$font-stratum: "Stratum2Web", serif;