// Styles for localist widgets 
//  a div with the class localist-widget is the outermost wrapper, followed by a div with the id lw, and then a div with class lw inside that. Each individual event is inside a ul with the id lwe and a li with the class lwe, then a div with class lwn. 

// style for the title of the event
.localist-widget .lwn a {
    font-weight: bold;
    font-size: 1.625rem;
    font-family: 'Stratum2web', serif;
    color: $color-beaver-dark;
} 
// .localist-widget .lwn a span.link-purpose-nobreak {
//     padding-left: 90px; 
// }

// style for the decorative line over the event
.localist-widget li.lwe {
    border-top: 1px solid $color-coastline-100;
    padding-bottom: 1.5rem;
}
.localist-widget .lwn .lwn0 {
    border-top: 4px solid $color-coastline-100;
    font-size: 1.3rem;
     line-height: 125%;
    color: $color-grey-800;
    font-family: 'Stratum2web', serif;
    //font-weight: bold;
    //color: #272726;
}

//magic new line using ::after element and white-space
.localist-widget .lwn .lwn0::after{
    content: "\a";
    white-space: pre;
}

/* location link */
.localist-widget .lwl a{
    text-transform: uppercase;
    color: #6d6d6d;
    text-decoration: none;
}
.localist-widget .lwl a:hover{
    text-decoration: underline;
}

// hide word "location"
.localist-widget span.lwl0 {
    display:none;
}

// hide event description
.localist-widget .lwe .lwd {
    display:none;
}

//hide list style and also cosmetic list style
.localist-widget ul {
    list-style:none;
    padding: 0;
}

.block-system-main-block .localist-widget ul:not(.nav, .navbar, .list-unstyled, .contextual-links, .vertical-tabs__menu, .pager__items, .select2-selection__rendered) > li:not([style*="list-style: none"])::marker {
    content: "";
}



//event in localist megamenu flyout
.osulp-lmw {
    .localist-widget .lwn .lwn0 {
        font-family: $font-stratum;
        font-size: 1.2rem;
        line-height: 100%;
        text-transform: uppercase;
        color: $color-grey-400;
        // color: #979695;
    }
    //magic new line using ::after element and white-space
    .localist-widget .lwn .lwn0::after{
        content: "\a";
        white-space: pre;
    }
    
    .localist-widget .lwn a {
        font-family: $font-stratum;
        color: $color-grey-900;
        font-size: 1rem;
        line-height: 100%;
        text-decoration: none;
        // color: #221F1E;
        // font-family: "Stratum2Web", serif;
    }
    //style for the location link
    .lwl a {
        text-decoration: none;
        color: $color-grey-700 !important;
    }
    ///removes the word "location"
    .lwl0 {
        display:none;
    }
    //removes the marker and padding for this element
    ul {
        padding: 0;
        list-style:none;
    }

    .localist-widget .lwn {
        border-top: none;
    }
    .localist-widget .lwn .lwn0 {
        border-top: none;
    }

    .localist-widget li.lwe {
        border-top: none;
    }
}