.form-select {
  background-position: left 1rem center;
}

.fieldset-legend {
  text-decoration: underline;
  text-decoration-color: $color-beaver-orange;
  text-decoration-thickness: 10%;
  text-underline-offset: 2px;
}

div:not(.js-form-type-radio):not(.js-form-type-checkbox).js-form-item.form-item {
  padding-bottom: 2em;
}

select#edit-gid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// center form items for search page flexbox
.form-item-search-api-fulltext, .form-item-gid, #edit-actions {
  align-self:center;
}