#madrone-header-container {
  border: none !important;
}
#osulp-title-block-container {
  // Set title block image as a background
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;

  @include media-breakpoint-down(md) {
    background-image: none !important;
  }

  &.group {
    background-size: 50%;
  }
}
#block-osulp-sitebranding {
  > div {
    height: 100%;
  }
}