#madrone-full-top-container {
  .menu {
    .nav-item {
      .nav-link {
        --bs-nav-link-padding-y: 0.75rem;
        --bs-nav-link-color: #{$color-grey-900};

        &::after {
          content: none;
        }
      }
    }
  }
  #menu-osulp-full-top-menu,
  #menu-osulp-full-top-menu-mobile-0 {
    width: fit-content;
  }
  #menu-osulp-full-top-menu-mobile-0 {
    height: 3em;
  }
  // superfish specific overrides
  #superfish-header-menu-2 > li.nav-item > a.nav-link{
    background: blue;
  }

  .block-group-content-menu .group-mobile-menu li {
    background: unset !important;
  }

  .accordion-header.font-open-sans button {
    &::before {
      font-family: FontAwesome;
      content: "\f068";
      font-size: 1em;
      position: absolute;
      left: -1.25em;
    }

    &.collapsed::before {
      content: "\f0fe";
    }
  }

  .group-mobile-menu {
    .is-active {
      color: $color-grey-600;
      margin-left: 0.5em;
    }
  }
}

#osulp-menu-mobile-header {
  .header-1-mobile-menu,
  .header-2-mobile-menu {
    button {
      &::after {
        font-family: FontAwesome;
        content: "\f068";
        font-size: 1em;
        position: absolute;
        right: 1.25em;
      }

      &.collapsed::after {
        content: "\f0fe";
      }
    }
  }
  .mobile-menu-vert ul {
    --bs-nav-link-color: #{$color-white};
    --bs-link-color: #{$color-white};
    --bs-link-color-rgb: #{$color-white};

    .is-active {
      color: $color-coastline-100
    }
  }
}