#block-osulp-headermenus, #madrone-full-top-container {
  .nav {
    li.nav-item.cascades {
      &.cascades-active a, a:hover, a:focus {
        --bs-nav-tabs-link-hover-border-color: #{$color-cascades};
        --bs-border-color: #{$color-cascades};

        background-color: $color-cascades !important;
        color: $white;
      }
    }
    li.nav-item.guin {
      &.guin-active a, a:hover, a:focus {
        --bs-nav-tabs-link-hover-border-color: #{$color-guin};
        --bs-border-color: #{$color-guin};

        background-color: $color-guin !important;
        color: $white;
      }
    }
    li.nav-item.valley {
      &.valley-active a, a:hover, a:focus {
        --bs-nav-tabs-link-hover-border-color: #{$color-valley};
        --bs-border-color: #{$color-valley};

        background-color: $color-valley !important;
        color: $white;
      }
    }
  }
}
#madrone-left-sidebar-container {
  .nav-link {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.25rem;
  }
}