/* News views page */
.node--type-news.node--view-mode-teaser {
  box-sizing: content-box;
  max-height: 10rem;
  object-fit: cover;

  &::after {
    content : "";
    position: absolute;
    bottom  : 0;
    height  : 1px;
    background: $color-coastline-100 !important;
    width: 50%;
  }
  img {
    max-height: 10rem;
    object-fit: cover;
  }
}

.node--type-news.node--view-mode-news-featured img {
  max-height: 14.75rem;
  object-fit: cover;
  width: 100%;
}

/* Directory views page */
.directory-image img {
  max-height: 6em;
  max-width: 6em;
}